<div class="card">
  <div class="card-text">
    <div class="portada"></div>
    <div class="title-total">
      <div class="title">Vocho</div>
      <h2> Volkswagen Sedán</h2>
      <div class="desc">
        este modelo de auto tiene múltiples nombres: en México es popular Vocho, en Estados Unidos es Beetle y en España, Escarabajo, mientras que en Brasil se le conoció como Fusca.
      </div>
      <div class="actions">
        <button><i class="far fa-heart"></i></button>
      </div>
    </div>
  </div>
</div>
